.example-month-picker .mat-calendar-period-button {
    pointer-events: none;
}
  
.example-month-picker .mat-calendar-arrow {
    display: none;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}
  
.example-full-width {
    width: 100%;
}
  
td {
    padding-right: 8px;
}

button {
    margin: 1rem;
}